body {
    width: 99%;
    background-image: url("assets/images/pont-neuf-nb.jpg");
}

canvas {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Noir avec 50% de transparence */
}